# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # Build executable code
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: ./mvnw clean package
  # Run unit and Integration tests
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Test with Maven
        run: ./mvnw clean test

  #Azure Login
  azure-login:

  # Build docker image
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v1
      - name: Azure Login
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
      - uses: actions/checkout@v4
      - name: Build Docker Image and Push to ACR
        run: docker build -t ${{env.ACR_NAME}}/${{env.IMAGE_NAME}}:${{ github.sha }} .
             docker push ${{env.ACR_NAME}}/${{env.IMAGE_NAME}}:${{ github.sha }}
